/*
	SIDEBAR
*/

.widget {
	padding: 43px 0;
	border-bottom: 1px solid #e5e5e5;

	&:first-child {
		padding-top: 0;
	}

	h4 {
		font: 400 16px 'Montserrat', Arial, Sans-Serif;
		margin: 0 0 30px;
		text-transform: uppercase;
		color: #c6c8c8;

		i {
			margin-right: 15px;
			color: #c6c8c8;
		}
	}
}

/* WIDGET - INFO */
.info_widget {
	a.logo {
		display: block;
		margin-bottom: 35px;

		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
		}

		&:hover {
			opacity: .6;
		}
	}

	p {
		font: 400 16px 'Open Sans', Arial, Sans-Serif;
		line-height: 36px;
		margin: 0;
		color: #2b2626;
	}
}

/* WIDGET - POST INFO */
.postinfo_widget {
	a.logo {
		display: block;

		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
		}

		&:hover {
			opacity: .6;
		}
	}

	&.featured {
		display: none;
	}

	&.inline {
		display: none;
		margin: 0 0 50px;

		@media (max-width: 1040px) {
			display: block;

			&.featured {
				display: none;
			}
		}
	}
}

/* SOCIAL LINKS WIDGET */
.social_widget {
	padding-bottom: 5px;
	text-align: justify;

	a {
		font-size: 15px;
		line-height: 25px;
		margin-right: 5px;
		margin-bottom: 15px;
	}

	&:before {
		display: block;
		width: 100%;
		content: '';
	}

	&:after {
		display: inline-block;
		width: 100%;
		content: '';
	}
}

/* WIDGET - TAG */
.tag_widget {
	overflow: hidden;
}

/* WIDGET - AUTHOR */
.author_widget {
	.gravatar {
		width: 50%;
		max-width: 90px;
		border-radius: 90px;
	}

	h3,
	h3 a {
		font: 700 24px 'Montserrat', Arial, Sans-Serif;
		color: #2b2626;

		&:hover {
			color: $accent_color;
		}
	}

	.author_url {
		font: 600 16px 'Open Sans', Arial, Sans-Serif;
		color: #a8acb3;

		&:hover {
			color: #676a6f;
		}
	}

	p {
		font: 400 16px 'Open Sans', Arial, Sans-Serif;
		line-height: 36px;
		color: #2b2626;
	}

	&.featured {
		margin-top: 0;
		padding-top: 0;
	}
}

/* Sidebar Post List */

aside .postlist {
	margin: 40px 0 0;
	padding: 0;
	list-style: none;

	li {
		overflow: hidden;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.thumbnail {
		float: left;
		width: 15.6%;
		max-width: 45px;
		height: 45px;

		img {
			max-width: 100%;
			height: 100%;
			border-radius: 4px;
		}

		@media (max-width: 1357px) {
			display: none;
		}
	}

	.info {
		float: left;
		width: 77.8%;
		margin-left: 6.6%;

		@media (max-width: 1357px) {
			width: 100%;
			margin-left: 0;
		}
	}

	h5,
	h5 a {
		line-height: 24px;
		display: block;
		margin: -5px 0 0;
		padding: 0;
		color: #2b2626;

		&:hover {
			color: $accent_color;
		}
	}

	small {
		font: 400 14px 'Open Sans', Arial, Sans-Serif;
		display: block;
		margin-top: 10px;
		color: #d3d3d3;
	}
}