{{! 
	
	SIDEBAR - POST
	- Configuration of this file is not required. 

}}

	<div class="alternate">
		<aside>

			<!-- WIDGET - DESCRIPTION -->
			<div class="widget postinfo_widget {{post_class}}">
				{{#if @blog.logo}}
				<a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
				{{/if}}
			</div>

			<!-- WIDGET - AUTHOR -->
			{{> widget_author}}

			<!-- WIDGET - SOCIAL -->
			<div class="widget social_widget">
				{{> social_sidebar}}
			</div>

			<!-- WIDGET - TAGS -->
			{{> widget_tags}}
			
		</aside>
	</div>
