{{! 

	SOCIAL - FOOTER
	! Configuration of this file is required. 
	- Add author social links here
	- These social links will appear in the page footer
	- Remove any unwanted links 

}}

	{{! TWITTER }}
	<a href="http://twitter.com" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>

	{{! FACEBOOK }}
	<a href="http://facebook.com" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>

	{{! GOOGLE+ }}
	<a href="http://plus.google.com" target="_blank" class="social social_solid google"><i class="fa fa-google-plus"></i></a>

	{{! DRIBBBLE }}
	<a href="http://dribbble.com" target="_blank" class="social social_solid dribbble"><i class="fa fa-dribbble"></i></a>

	{{! INSTAGRAM }}
	<a href="http://instagram.com" target="_blank" class="social social_solid instagram"><i class="fa fa-instagram"></i></a>

	{{! GITHUB }}
	{{! <a href="http://github.com" target="_blank" class="social social_solid github"><i class="fa fa-github"></i></a> }}

	{{! YOUTUBE }}
	{{! <a href="http://youtube.com" target="_blank" class="social social_solid youtube"><i class="fa fa-youtube"></i></a> }}

	{{! PINTEREST }}
	{{! <a href="http://pinterest.com" target="_blank" class="social social_solid pinterest"><i class="fa fa-pinterest"></i></a> }}

	{{! LINKEDIN }}
	{{! <a href="http://linkedin.com" target="_blank" class="social social_solid linkedin"><i class="fa fa-linkedin"></i></a> }}

	{{! SKYPE }}
	{{! <a href="http://skype.com" target="_blank" class="social social_solid skype"><i class="fa fa-skype"></i></a> }}

	{{! TUMBLR }}
	{{! <a href="http://tumblr.com" target="_blank" class="social social_solid tumblr"><i class="fa fa-tumblr"></i></a>} }

	{{! RSS - LEAVE DEFAULT}}
	<a href="{{@blog.url}}/rss/" target="_blank" class="social social_solid rss"><i class="fa fa-rss"></i></a>
